@model IEnumerable<ConectarLINQ.Models.consept>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuarios</h2>

<p>
    @Html.ActionLink("Crear nuevo usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.NumeroIdentificacion }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.NumeroIdentificacion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.NumeroIdentificacion })
        </td>
    </tr>
}

</table>
